<div class="second_menu">
  <a href="/stores/<%= params[:store_id] %>/set_stores" >门店信息</a>
  <a href="/stores/<%= params[:store_id]%>/set_functions">功能设置</a>
  <a href="/stores/<%= params[:store_id]%>/adverts">led广告设置</a>
  <a href="/stores/<%= params[:store_id]%>/messages/send_list" class="hover">短信设置</a>
</div>
