<div class="tab_popup" style="display:block">
  <div class="popup_box">
    <h1>相关订单<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <div class="data_body_p"><span>客户姓名：张三</span><span>手机号码：1327515766</span><span>QQ：3456789</span><span>生日：1985-01-06</span><span>地址：浙江省杭州市xxxx xxxxxxxx xxxxx xxxxxxxx</span></div>
        <ul class="data_body_ul">
          <li><span>车牌号码：浙A12345</span><span>品牌：大众——辉腾</span><span>购买年份：2008年</span></li>
          <li><span>车牌号码：浙A12345</span><span>品牌：大众——辉腾</span><span>购买年份：2008年</span></li>
        </ul>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_tab_table">
          <thead>
            <tr class="hbg">
              <td>服务项目</td>
              <td>单价(元)</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>洗车</td>
              <td>30</td>
            </tr>
            <tr>
              <td>打蜡</td>
              <td>100</td>
            </tr>
            <tr>
              <td>活动优惠</td>
              <td>-20</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <div class="otherWay">
          <div class="amount">总计：2000</div>
        </div>
      </div>
    </div>
  </div>
</div>

