<%= render 'directory' %>
<div class="tab_head">
  <ul>
    <li class="hover">投诉</li>
    <li>满意度</li>
  </ul>
</div>
<div class="data_body">
  <div id="comp_div">
   <%= render "complaints_div" %>
  </div>
  <div style="display: none;" id="plea_div">
    <%= render "pleaseds_div" %>
  </div>
</div>