<div class="tab_popup tab_alert" style="display:<%= flash[:notice].nil? ? "none" : "block" %>" id="flash_notice">
    <div class="popup_box">
        <h1><a href="javascript:void(0)" class="close">关闭</a></h1>
         <div class="popup_body">
              <div class="popup_body_area">
                   <div class="alert_h"><%= flash[:notice] %></div>
              </div>
         </div>
    </div>
</div>