<%= form_for :add_prod,:url=>"/stores/#{params[:store_id]}/products",:method=>:post,:html=>{:id=>"add_prod",:multipart=>true} do %>
  <div class="tab_popup add_tab" style="">
    <div class="popup_box">
      <h1>添加产品<a href="javascript:void(0)" class="close">关闭</a></h1>
      <div class="popup_body">
        <div class="popup_body_area">
          <%= render "form" %>
        </div>
        <div class="btn_box_s"><input value="确定" class="confirm_btn"  onclick="add_product(this)" type="button" /></div>
      </div>
    </div>
  </div>
  <%= render 'img_url' %>
<% end %>
