<div class="tab_popup add_img" style="display:none;">
  <div class="popup_box">
    <h1>添加图片<a href="javascript:void(0)" class="close" onclick="$('.item_textarea input').val('')">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area" id="img_div">
        <div class="item_textarea" >
          <label>图片：</label><input type=file name=aimg_url  id="0" size="50px" />
        </div>
        <div class="item_textarea">
          <label>图片：</label><input type=file name=bimg_url   id="1" size="50px" />
        </div>
        <div class="item_textarea">
          <label>图片：</label><input type=file name="cimg_url"  id="2" size="50px"  />
        </div>
        <div class="item_textarea">
          <label>图片：</label><input type=file name="dimg_url"  id="3" size="50px" />
        </div>
        <div class="item_textarea">
          <label>图片：</label><input type=file name="eimg_url"   id="4" size="50px"/>
        </div>
      </div>
      <div class="btn_box_s">
      <input value="确定" class="confirm_btn" onclick="$('.add_img,.maskOne').css('display','none')" type="button"  />
      </div>
    </div>
  </div>
</div>